<div>
 
  <div class="todo-container">
     <h1>Todo List</h1>
    <div class="input-container">
  <input  [(ngModel)]="newTodo" class="todo-input" placeholder="Add new todo" />
  <button (click)="addTodo()" class="add-button">Add Todo</button>
</div>
  <ul class="todo-list">
    <li *ngFor="let todo of todos">
      <input type="checkbox" [(ngModel)]="todo.isComplete" (change)="updateIsComplete(todo.id, todo.isComplete)" class="todo-checkbox"/>
      <span class="todo-text">{{ todo.name }}</span> 
      <button (click)="deleteTodo(todo.id)" class="delete-button">Delete</button>
    </li>
  </ul>
</div>
</div>